{
  "token": "ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "owner": "XXXXXXXXXXXXXXXXXXXXXXXX",
  "repo": "hosts-remote-control",
  "filePath": "status.txt",
  "intervalSeconds": "30",
  "logRetentionDays": "7",
  "hostsEntries": [
    "youtube.com", "www.youtube.com", "m.youtube.com",
    "youtu.be", "music.youtube.com", "gaming.youtube.com",
    "studio.youtube.com", "kids.youtube.com",
    "youtube-nocookie.com", "ytimg.com", "i.ytimg.com", "s.ytimg.com",
    "googlevideo.com", "redirector.googlevideo.com", "manifest.googlevideo.com",
    "lh3.googleusercontent.com",

    "tiktok.com", "www.tiktok.com", "m.tiktok.com",
    "api.tiktokv.com", "api.tiktok.com",
    "p16-tiktokcdn-com.akamaized.net",
    "v19.tiktokcdn.com", "v16m.tiktokcdn.com",

    "discord.com", "www.discord.com",
    "cdn.discordapp.com", "discordapp.net",

    "t.me", "telegram.me", "telegram.org",
    "core.telegram.org", "api.telegram.org",
    "web.telegram.org", "webk.telegram.org", "webz.telegram.org",
    "cdn-telegram.org",

    "roblox.com", "www.roblox.com", "m.roblox.com",
    "api.roblox.com", "trades.roblox.com",
    "setup.roblox.com", "assetdelivery.roblox.com",
    "robloxcdn.com", "rbxcdn.com",

    "minecraft.net", "www.minecraft.net",
    "account.mojang.com", "api.mojang.com",
    "mojang.com", "authserver.mojang.com",
    "textures.minecraft.net",

    "twitch.tv", "www.twitch.tv", "static-cdn.jtvnw.net",

    "instagram.com", "www.instagram.com", "cdninstagram.com",

    "snapchat.com", "www.snapchat.com",

    "reddit.com", "www.reddit.com", "old.reddit.com",
    "https://scratch.mit.edu/", "https://downloads.khinsider.com/"
  ]
}
